/*** The new CSS reset - version 1.7.2 (last updated 23.6.2022) ***/
/** via https://coliss.com/articles/build-websites/operation/css/css-reset-for-modern-browser.html */

*:where(:not(html,iframe,canvas,img,svg,video):not(svg*,symbol*)){all:unset;display:revert}*,*::before,*::after{box-sizing:border-box}
a,button{cursor:revert}
ol,ul,menu{list-style:none}
img{max-width:100%}
table{border-collapse:collapse}
input,textarea{-webkit-user-select:auto}
textarea{white-space:revert}
meter{-webkit-appearance:revert;appearance:revert}::placeholder{color:unset}:where([hidden]){display:none}:where([contenteditable]:not([contenteditable="false"])){-moz-user-modify:read-write;-webkit-user-modify:read-write;overflow-wrap:break-word;-webkit-line-break:after-white-space;-webkit-user-select:auto}:where([draggable="true"]){-webkit-user-drag:element}

html, body, #root, #root > div {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* https://developer.mozilla.org/ja/docs/Web/CSS/env */
body {
  padding:
    env(safe-area-inset-top, 20px)
    env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px)
    env(safe-area-inset-left, 20px);
}

body {
  /* スクロール抑止 */
  /*
    Android 向け
    https://usefulangle.com/post/278/html-disable-pull-to-refresh-with-css#:~:text=Pull%2Dto%2Drefresh%20can%20be%20disabled%20using%20the%20overscroll%2D,a%20container%20is%20over%2Dscrolled.
  */
  overscroll-behavior: contain;
  /* iOS 向け */
  /* overflow: hidden; */

  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 32px;

  /* Prevent text selection for usability */
  user-select: none;
}
